<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\Temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <!-- !IMPORTANT -->
  <!-- CHANGE THE BASE DIRECTORY HERE! RELATIVE PATHS AS WELL AS ABSOLUTE PATHS ARE VALID -->
  
  <variable name="baseLogsDirectory" value="C:\logs\ComedyHub" />
  <!-- <variable name="baseLogsDirectory" value="F:\Logs\Staff.Degreed" /> -->
  <variable name="applicationName" value="ComedyHub" />
  <variable name="defaultLogLayout" value="${applicationName}|${date}|${level:uppercase=true}|${message}|${onexception:Exception: ${exception:format=tostring}}" />
  <!-- !IMPORTANT -->

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>


  <targets>
    <!-- add your targets here in descending order See https://github.com/nlog/NLog/wiki/Configuration-file#log-levels  -->
    <target xsi:type="File" name="ErrorFileLogger" fileName="${var:baseLogsDirectory}\${applicationName}-Error-${shortdate}.log"
            archiveFileName="${var:baseLogsDirectory}\archive\${applicationName}-Error-${shortdate}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="10"
            archiveAboveSize="51200000"
            concurrentWrites="true"
            createDirs="true"
            layout="${var:defaultLogLayout}" />
    <target xsi:type="File" name="InfoFileLogger" fileName="${var:baseLogsDirectory}\${applicationName}-Info-${shortdate}.log"
            archiveFileName="${var:baseLogsDirectory}\archive\${applicationName}-Info-${shortdate}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="10"
            archiveAboveSize="51200000"
            concurrentWrites="true"
            createDirs="true"
            layout="${var:defaultLogLayout}" />
    <target xsi:type="File" name="DebugFileLogger" fileName="${var:baseLogsDirectory}\${applicationName}-Debug-${shortdate}.log"
            archiveFileName="${var:baseLogsDirectory}\archive\${applicationName}-Debug-${shortdate}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="10"
            archiveAboveSize="51200000"
            concurrentWrites="true"
            createDirs="true"
            layout="${var:defaultLogLayout}" />
    <target xsi:type="File" name="TraceFileLogger" fileName="${var:baseLogsDirectory}\${applicationName}-Trace-${shortdate}.log"
            archiveFileName="${var:baseLogsDirectory}\archive\${applicationName}-Trace-${shortdate}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="10"
            archiveAboveSize="51200000"
            concurrentWrites="true"
            createDirs="true"
            layout="${var:defaultLogLayout}" />
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Error" writeTo="ErrorFileLogger" />
    <!-- Error will include FATAL levels too. Seperate if required. -->
    <logger name="*" level="Info" writeTo="InfoFileLogger" />
    <logger name="*" level="Debug" writeTo="DebugFileLogger" />
    <logger name="*" level="Trace" writeTo="TraceFileLogger" />
  </rules>
</nlog>
